/* line 2, app/assets/scss/main.scss */
* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue"; }

/* line 6, app/assets/scss/main.scss */
p {
  margin: 0 0 .25em 0; }

/* line 10, app/assets/scss/main.scss */
body {
  background: url("../../../resources/graphics/background.png"); }

/* line 14, app/assets/scss/main.scss */
.inner-section {
  padding: 60px 120px 120px 120px; }

/* line 19, app/assets/scss/main.scss */
.contents {
  display: flex;
  background-color: white; }

/* line 25, app/assets/scss/main.scss */
.search-box {
  background-color: #31678b;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1); }

/* line 31, app/assets/scss/main.scss */
.input {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding: 1px;
  position: relative;
  vertical-align: top;
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  width: 100%; }

/* line 50, app/assets/scss/main.scss */
.sidebar {
  padding: 20px;
  width: 200px;
  border-right: 1px solid gray; }
  /* line 55, app/assets/scss/main.scss */
  .sidebar h3 {
    font-size: 15px; }
  /* line 58, app/assets/scss/main.scss */
  .sidebar tr {
    font-size: 15px; }

/* line 63, app/assets/scss/main.scss */
.facet-list {
  list-style: none;
  display: inline-block;
  overflow: auto; }

/* line 68, app/assets/scss/main.scss */
.facet-list div {
  padding-left: 12px; }

/* line 71, app/assets/scss/main.scss */
.facet-list td {
  padding: 6px; }

/* line 77, app/assets/scss/main.scss */
.facet-list .active .facet-name {
  border-radius: 5px 0 0 5px;
  background-color: #6392a8; }

/* line 81, app/assets/scss/main.scss */
.facet-list .active .facet-count {
  border-radius: 0 5px 5px 0;
  background-color: #6392a8; }

/* line 85, app/assets/scss/main.scss */
.facet-list .active .facet-payment {
  border-radius: 5px;
  background-color: #6392a8; }

/* line 92, app/assets/scss/main.scss */
.stars-count {
  height: 20px; }

/* line 97, app/assets/scss/main.scss */
.results {
  padding: 20px 30px;
  width: 100%; }

/* line 102, app/assets/scss/main.scss */
.stats-box {
  padding: 20px;
  padding-left: 0px; }

/* line 107, app/assets/scss/main.scss */
.hit {
  padding-bottom: 35px;
  display: flex; }

/* line 114, app/assets/scss/main.scss */
.hit-image {
  border-radius: 5px;
  height: 90px;
  width: 90px;
  margin-right: 20px; }

/* line 121, app/assets/scss/main.scss */
.hit-title {
  font-size: 17px;
  margin: 0 0 .25em 0; }

/* line 128, app/assets/scss/main.scss */
.hit-stars {
  height: 15px;
  margin-right: 10px; }

/* line 137, app/assets/scss/main.scss */
.buttons {
  text-align: center; }

/* line 141, app/assets/scss/main.scss */
.show-more {
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px; }

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  /* line 159, app/assets/scss/main.scss */
  .inner-section {
    padding: 0; }
  /* line 163, app/assets/scss/main.scss */
  .contents {
    display: block; }
  /* line 167, app/assets/scss/main.scss */
  .sidebar {
    border-right: none;
    border-bottom: 1px solid gray;
    width: 100%; }
  /* line 173, app/assets/scss/main.scss */
  .stars-count {
    height: 30px; } }

/*# sourceMappingURL=../../../scss */